.background {
    height: 700px;
    width: 1000px;
    margin: 50;
    border: 1px solid black;
    background-color: black;
}           
.gameScreen {
    border: 2px solid grey;
}

.grid {
    background-image:
        repeating-linear-gradient(0deg, transparent, transparent 32.5px, darkgrey 32.5px, #CCC 33.5px),
        repeating-linear-gradient(-90deg, transparent, transparent 32.5px, darkgrey 32.5px, #CCC 33.5px);
    background-size: 33.5px 33.5px;
    margin: 50px 550px 50px 50px;
}

#logo {
    font-size: 80px;
    font-family: Blippo, fantasy;;
    color:white;
    margin-left:580px;
    margin-top:50px;
    position: fixed;
}

.cube {
    height: 30px;
    width: 30px;
    background-color: rgb(168, 71, 26);
    margin: 2px 2px 2px 2px;
 }



    
      
      
      
    